In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('heart.csv')

In [3]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
data.drop_duplicates(inplace = True)
data.shape

(918, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [6]:
data.replace({'Age':0, 'RestingBP':0, 'Cholesterol':0, 'MaxHR':0}, np.nan, inplace=True)
# عدد 0 در این ستون ها به معنای عدم وجود داده میباشد

In [7]:
data.isnull().sum()

Age                 0
Sex                 0
ChestPainType       0
RestingBP           1
Cholesterol       172
FastingBS           0
RestingECG          0
MaxHR               0
ExerciseAngina      0
Oldpeak             0
ST_Slope            0
HeartDisease        0
dtype: int64

In [8]:
data_numeric = data.select_dtypes(['int64','float64']).iloc[:,:-1]
# جدا سازی داده های عددی

In [9]:
data_object = data.select_dtypes('object').iloc[:,:]
# جدا سازی داده های کتگوریکال

In [10]:
data_label = data.iloc[:,-1].values
# آخرین ستون جدول بیانگر داشتن یا نداشتن بیماری قلبی است و لیبل ما محسوب میشود

# تبدیل داده های کتگوریکال به عددی

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
label_enc = LabelEncoder()

In [13]:
data_object = data_object.apply(label_enc.fit_transform)

In [14]:
data_object

     Sex  ChestPainType  RestingECG  ExerciseAngina  ST_Slope
0      1              1           1               0         2
1      0              2           1               0         1
2      1              1           2               0         2
3      0              0           1               1         1
4      1              2           1               0         2
..   ...            ...         ...             ...       ...
913    1              3           1               0         1
914    1              0           1               0         1
915    1              0           1               1         1
916    0              1           0               0         1
917    1              2           1               0         2

[918 rows x 5 columns]

In [15]:
data_object.nunique()

Sex               2
ChestPainType     4
RestingECG        3
ExerciseAngina    2
ST_Slope          3
dtype: int64

In [16]:
data_obj_bin = data_object[['Sex','ExerciseAngina']]
# این دو تا ستون از 0 و 1 تشکیل شده اند بنابراین نیاز به تغییر ندارند

# تشکیل ستون های 0 و 1 از ستون های چند عددی

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [18]:
ohe = OneHotEncoder()

In [19]:
data_ohe = ohe.fit_transform(data[['ChestPainType','RestingECG','ST_Slope']].values).toarray()
# تبدیل به ماتریس شده است

In [20]:
data = np.concatenate([data_numeric.values,data_obj_bin.values,data_ohe], axis =1 )
# مجددا بخش های اصلاح شده رو در کنار هم قرار میدهیم
# نتیجه یک ماتریس خواهد بود

In [21]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,40.0,140.0,289.0,0.0,172.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,49.0,160.0,180.0,0.0,156.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,37.0,130.0,283.0,0.0,98.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,48.0,138.0,214.0,0.0,108.0,1.5,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,54.0,150.0,195.0,0.0,122.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45.0,110.0,264.0,0.0,132.0,1.2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
914,68.0,144.0,193.0,1.0,141.0,3.4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
915,57.0,130.0,131.0,0.0,115.0,1.2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
916,57.0,130.0,236.0,0.0,174.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
917,38.0,138.0,175.0,0.0,173.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

# پر کردن مقادیر خالی

In [22]:
from sklearn.impute import KNNImputer

In [23]:
imputer = KNNImputer(missing_values= np.nan, n_neighbors = 3)
# هر ردیف با سه تا از نزدیکترین همسایه هایش مقایسه میشود و بر اساس میانگین آن نمونه ها پر میشود

In [24]:
data = imputer.fit_transform(data)

In [25]:
np.isnan(data).sum()
# بررسی تعداد مقدار های خالی در ماتریس

0

# نرمال سازی داده ها

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()
# تمامی مقادیر بین 0 و 1

In [28]:
data = scaler.fit_transform(data)

In [29]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.244898,0.500000,0.393822,0.0,0.788732,0.295455,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.428571,0.666667,0.183398,0.0,0.676056,0.409091,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.183673,0.416667,0.382239,0.0,0.267606,0.295455,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.408163,0.483333,0.249035,0.0,0.338028,0.465909,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.530612,0.583333,0.212355,0.0,0.436620,0.295455,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.346939,0.250000,0.345560,0.0,0.507042,0.431818,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
914,0.816327,0.533333,0.208494,1.0,0.570423,0.681818,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
915,0.591837,0.416667,0.088803,0.0,0.387324,0.431818,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
916,0.591837,0.416667,0.291506,0.0,0.802817,0.295455,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
917,0.204082,0.483333,0.173745,0.0,0.795775,0.295455,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0